.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 8px 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.subtotal_gift{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.subtotal_gift > input {
    margin-right: 5px;
}

.subtotal > button{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 8px;
    color: #111;
    padding: 2px;
}

@media screen and (max-width: 950px){
    .subtotal{
        width: 200px;
        height: 80px;
        padding: 8px 20px;
        margin-left: 5px;
    }
    .subtotal_title{
        font-size: 13px;
    }
    .subtotal_gift span{
        font-size: 12px;
    }
    
    .subtotal_gift > input {
        margin-right: 5px;
    }
    
    .subtotal > button{
        height: 20px;
        margin-top: 6px;
    }
}
@media screen and (max-width: 550px){
    .subtotal{
        width: 140px;
        height: 80px;
        padding: 8px 5px;
    }
    .subtotal_title{
        font-size: 11px;
    }
    .subtotal_gift{
        margin-top: 10px;
    }
    .subtotal_gift span{
        font-size: 10px;
    }
    
    .subtotal_gift > input {
        margin-right: 5px;
    }
    
    .subtotal > button{
        height: 20px;
        margin-top: 5px;
        font-size: 11px;
        padding: 3px;
    }
}
@media screen and (max-width: 450px){
    .subtotal{
        width: 120px;
        height: 70px;
        padding: 8px 2px;
    }
    .subtotal_title{
        font-size: 10px;
    }
    .subtotal_gift{
        margin-top: 6px;
    }
    .subtotal_gift span{
        font-size: 8px;
    }
    
    .subtotal_gift > input {
        margin-right: 5px;
    }
    
    .subtotal > button{
        height: 20px;
        margin-top: 6px;
        font-size: 10px;
        padding: 2px;
    }
}